$font-color: #3b2e1e !default;
$font-alternative-color: #000 !default;
$accent-color: #3a4928 !default;
$background-color: #e6deb9 !default;
$background-alternative-color: #d4bf88 !default;
$text-color: #3b2e1e !default;
$text-color-alternative: #000 !default;
$text-color-white: #fff !default;
