.color-box {
  text-align: center;
  height: 120px;
  width: 120px;
  border: 1.5px solid #000;
}

.image-container {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
}
