.single-technology {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Sidebar */
.menu {
    flex: 1 1 20%; /* Sidebar takes 20% of the width */
    max-width: 200px;
    background-color: $background-alternative-color;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 8px;
}

.menu ul li a {
    text-decoration: none;
    color: $text-color-alternative;
    transition: color 0.2s ease;
}

.menu ul li a:hover {
    color: #0056b3;
}

/* Content */
.article-content {
    flex: 3 1 70%; /* Content takes up the remaining space */
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .single-technology {
        flex-direction: column;
    }

    .menu {
        display: none; /* Hide sidebar on smaller screens */
    }

    .article-content {
        flex: 1 1 100%;
    }
}