$font-color: #3b2e1e;
$font-alternative-color: #000;
$accent-color: #3a4928;
$background-color: #e6deb9;
$background-alternative-color: #d4bf88;
$text-color: #3b2e1e;
$text-color-alternative: #000;
$text-color-white: #fff;
