.header {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $background-alternative-color;
  color: $text-color-alternative;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  a {
    font-size: 2.5rem;
    color: $text-color-alternative;
  }
}
