$font-color: #5a7520;
$font-alternative-color: #475e1a;
$accent-color: #6b8e23;
$background-color: #e8f1d5;
$background-alternative-color: #d0dfb3;
$text-color: #5a7520;
$text-color-alternative: #475e1a;
$text-color-white: #fff;
